@tailwind base;
@tailwind components;
@tailwind utilities;

/* .ReactModal__Html--open,
.ReactModal__Body--open {
    overflow: hidden;
} */


.ReactModal__Content {
    max-width: calc(100vw - 2rem);
    max-height: calc(100vh - 2rem);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
    overflow-y: auto;
    position: relative;
}

.select-container {
    position: relative;
}

.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-container::after {
    content: url('/images/icons/arrow-down-white.svg');
    font-size: 13px;
    position: absolute;
    right: 10px;
    top: 55%;
    transform: translateY(-50%);
    color: gray;
    pointer-events: none;
}